<ul class="navbar-nav">
  <li [class.selected]="selectedOption === 'home'" class="my-2" data-animation="to-top">
    <a [class.text-fill]="selectedOption !== 'home'" routerLink="/" (click)="selectOption('home')" class="nav-link mx-2" data-text="Home"
      data-bs-dismiss="offcanvas">Home</a>
  </li>
  <li [class.selected]="selectedOption === 'hobbies'" class="my-2" data-animation="to-top">
    <a [class.text-fill]="selectedOption !== 'hobbies'" routerLink="/hobbies" (click)="selectOption('hobbies')" class="nav-link mx-2" data-text="Hobbies"
      data-bs-dismiss="offcanvas">Hobbies</a>
  </li>
  <li [class.selected]="selectedOption === 'about'" class="my-2" data-animation="to-top">
    <a [class.text-fill]="selectedOption !== 'about'" routerLink="/about" (click)="selectOption('about')" class="nav-link mx-2" data-text="About Me"
      data-bs-dismiss="offcanvas">About Me</a>
  </li>
  <li [class.selected]="selectedOption === 'contact'" class="my-2" data-animation="to-top">
    <a [class.text-fill]="selectedOption !== 'contact'" routerLink="/contact" (click)="selectOption('contact')" class="nav-link mx-2" data-text="Contact"
      data-bs-dismiss="offcanvas">Contact</a>
  </li>
</ul>
