a {
  font-size: 1.25rem;
  padding: inherit !important;
}

a:hover {
  border-bottom: 2px solid darkred;
}

.selected {
  a {
    color: darkred;
    border-bottom: 3px solid darkred;
    font-weight: 600;
    font-size: 1.5rem;
  }
}
