.hidden-btn {
  display: none;
}

a:visited {
  color: inherit;
}

a:hover {
  color: darkred;
}

.bi-moon-stars-fill {
  color: #212529;
}

.bi-moon-stars-fill:hover {
  color: darkred;
}

.bi-sun-fill {
  color: yellow;
}

.bi-sun-fill:hover {
  color: darkred;
}

.btn-m {
  margin: calc(-.5* var(--bs-offcanvas-padding-y)) calc(-.5* var(--bs-offcanvas-padding-x)) calc(-.5* var(--bs-offcanvas-padding-y)) auto;
}
