<div class="main-container" id="main-container">
  <main>
    <section class="py-3 py-md-5">
      <div class="container">
        <div class="text-center py-4">
          <h1>I'm a Software Engineer, with experience in Web Developer...</h1>
          <h3>I have experience in HTML, CSS, JS</h3>
          <h3>I have experience in Frontend and Backend technologies...</h3>
          <h3>I have experience in Databases SQL/NoSQL</h3>
          <h3>I have experience in Git</h3>
        </div>
      </div>
    </section>
  </main>

  <app-footer></app-footer>
</div>
