/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$light-theme-backgroud: #fff;
$light-theme-text: #000;
$dark-theme-backgroud: #000;
$dark-theme-text: #fff;

body {
  font-family: "Poppins", serif;
  font-display: swap;
  background-color: $light-theme-backgroud !important;
  color: $light-theme-text !important;
}

.dark-theme {
  background-color: $dark-theme-backgroud !important;
  color: $dark-theme-text !important;

  .offcanvas {
    background-color: rgb(36, 36, 36) !important;
    color: $dark-theme-text !important;
  }

  .b-botton {
    border-bottom: 2px dashed $dark-theme-text !important;
  }

  .carousel-indicators>button {
    background-color: $dark-theme-text !important;
  }

  .bi-chevron-left,
  .bi-chevron-right {
    color: $dark-theme-text !important;
  }

  .btn-m {
    fill: $dark-theme-text;
  }

  .bi-list {
    color: $dark-theme-text;
  }

  .navbar-toggler {
    border: var(--bs-border-width) solid rgba(255, 255, 255, 0.15);
  }
}

.carousel-indicators>button {
  background-color: $light-theme-text !important;
}

.bi-chevron-left,
.bi-chevron-right {
  color: $light-theme-text !important;
}

.offcanvas {
  background-color: $light-theme-backgroud !important;
  color: $light-theme-text !important;
}

.b-botton {
  border-bottom: 2px dashed rgb(36, 36, 36) !important;
}

a,
span,
.nav-link,
.navbar-brand,
.carousel-caption {
  color: inherit;
}

.bi-k {
  border: 2px solid;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
